$icon-font-path: '~bootstrap-sass/assets/fonts/bootstrap/';

@import '~bootstrap-sass/assets/stylesheets/bootstrap';
@import url('https://fonts.googleapis.com/css?family=Varela+Round');

/************************************
COLOR MIXES
************************************/

$five-percent-gray: #f2f2f2;
$six-percent-gray: #f0f0f0;
$thirty-percent-gray: #b3b3b3;
$fifty-percent-gray: #7f7f7f;
$black: #000;
$white: #fff;
$red: #f00;
$green: #0f0;
$blue: #00f;
$cyan: #0ff;
$magenta: #f0f;
$yellow: #ff0;
$rainbow-red: #f27089;
$rainbow-orange: #fca778;
$rainbow-yellow: #fbde84;
$rainbow-yellow-light: rgba(249, 216, 113, 0.15);
$rainbow-green: #9ac479;
$rainbow-blue: #74a6cf;
$grass-green: #b8d77d;
$grass-green-light: rgba(171, 209, 106, 0.1);
$sky-blue: #a7c5df;
$cloud-white: #f7f0e3;
$lines-brown: #3a2328;
$stem-green: #358d65;

/************************************
ANIMATIONS
************************************/

@keyframes colorchange {
  0% { background: $sky-blue; }
  25% { background: $rainbow-orange; }
  50% { background: $grass-green; }
  75% { background: $rainbow-orange; }
  100% { background: $sky-blue; }
}

@-webkit-keyframes colorchange /* Safari and Chrome - necessary duplicate */ {
  0% { background: $sky-blue; }
  25% { background: $rainbow-orange; }
  50% { background: $grass-green; }
  75% { background: $rainbow-orange; }
  100% { background: $sky-blue; }
}

/************************************
BODY & MAIN
************************************/

body {
  background-color: $white;
  color: $lines-brown;
  font-family: 'Varela Round', sans-serif;
  font-size: 16px;
  margin: 0 auto;
  max-width: 800px;
  text-transform: uppercase;
}

main {
  margin: 0 auto;
  max-width: 500px;
}

h1 {
  color: $rainbow-green;
  font-size: 28px;
  font-weight: normal;
  margin: 0 auto;
  margin-bottom: 10px;
  margin-top: 15px;
  text-align: center;
  user-select: none;
}

h4 {
  color: $lines-brown;
  margin: 0 auto;
  text-align: center;
}

h5 {
  color: $lines-brown;
  margin: 0 auto;
  margin-bottom: 10px;
  text-align: center;
}

/************************************
BOARD & CELLS
************************************/

.board-cell {
  background-color: $rainbow-yellow-light;
  border: 0.01rem solid $lines-brown;
  font-size: 80px;
  height: 111px;
  line-height: 120px;
  // outline: 1px solid $lines-brown;
  text-align: center;
  user-select: none;
  vertical-align: middle;
  width: 111px;

  &:not(.pre-game):not(.played):not(.game-over):hover {
    background-color: $rainbow-yellow;
    cursor: pointer;
  }

  &.pre-game {
    animation: colorchange 10s infinite;
    -webkit-animation: colorchange 10s infinite;
  }

  &.starting-blue {
    background-color: $sky-blue;
  }

  &.played {
    &.x {
      color: $rainbow-red;
    }

    &.o {
      color: $rainbow-blue;
    }
  }
}

.board-grid {
  background-color: $white;
  display: grid;
  grid-template-columns: auto auto auto;
  grid-template-rows: auto auto auto;
  height: 333px;
  margin: 0 auto;
  outline: 2px solid $lines-brown;
  overflow: visible;
  position: relative;
  user-select: none; // This makes each x and o non-highlightable by the cursor
  vertical-align: middle;
  width: 333px;

  &.x-won {
    outline: 4px solid $rainbow-red;
  }

  &.o-won {
    outline: 4px solid $rainbow-blue;
  }
}

p {
  text-align: center;
}

/************************************
GAME STATUS AREA
************************************/

.game-status-area {
  color: $rainbow-red;
  cursor: default;
  display: none;
  font-size: 28px;
  margin: 0 auto;
  position: relative;
  text-align: center;
  top: 5px;
  user-select: none;

  &.playable {
    display: block;
  }

  &.x {
    color: $rainbow-red;
  }

  &.o {
    color: $rainbow-blue;
  }

  &.game-result {
    color: $stem-green;
  }
}

.game-session-area {
  display: none;
  margin: 0 auto;

  &.playable {
    display: block;
  }
}

.session-stats {
  cursor: default;
  font-size: 16px;
  height: 20px;
  margin: 0 auto;
  text-align: center;
  user-select: none;
  vertical-align: baseline;
}

.reset-session {
  background-color: $stem-green;
  border-radius: 5px;
  color: $cloud-white;
  cursor: pointer;
  font-size: 12px;
  height: 20px;
  left: 4px;
  margin: 0 auto;
  padding: 3px;
  position: relative;
  text-align: center;
  top: -2px;
  user-select: none;
  vertical-align: baseline;
  width: 80px;
}

.new-game-area {
  color: $rainbow-orange;
  cursor: pointer;
  display: none;
  font-size: 28px;
  margin: 0 auto;
  position: relative;
  top: 5px;

  &.playable {
    display: inline;
  }
}

/************************************
NAV BUTTONS
************************************/

.starting-buttons,
.gaming-buttons {
  margin: 0 auto;
  max-height: 150px;
  max-width: 300px;
  overflow: auto;
  padding: 0;
  position: relative;
  text-transform: uppercase;
  top: 0;
}

.big-button {
  background-color: $rainbow-yellow;
  border: 0;
  border-radius: 5px;
  display: block;
  font-size: 18px;
  margin: 0 auto 10px;
  max-height: 60px;
  max-width: 80%;
  padding: 3px 7px;
  text-transform: uppercase;

  &:focus {
    outline: 0;
  }
}

/************************************
MODALS
************************************/

.modal-title {
  color: $rainbow-orange;
  font-size: 20px;
  margin-bottom: 5px;
  pointer-events: none;
  text-transform: uppercase;
  user-select: none;
}

fieldset {
  margin: auto;
}

input {
  font-size: 16px;
  margin: 2% 5%;
  width: 90%;
}

.modal-content {
  border-radius: 1rem;
  padding: 3%;
}

.form-button {
  background-color: $rainbow-yellow;
  border: 0;
  border-radius: 5px;
  font-size: 16px;
  padding: 3px 7px;
  text-transform: uppercase;

  &:focus {
    outline: 0;
  }
}

/************************************
STATS
************************************/

.total-stats-div {
  font-size: 18px;
  margin: 10px auto;
  text-align: center;
  width: 85%;
}

.sum-stats-div {
  font-size: 14px;
  margin: 10px auto;
  text-align: center;
  text-transform: none;
  width: 85%;
}

.games-stats-div {
  font-size: 14px;
  margin: 10px auto;
  overflow: auto;
  text-transform: none;
  width: 70%;
}

/************************************
BREAKPOINT 400PX
************************************/

@media only screen and (max-width: 400px) {
  .board-cell {
    height: 100px;
    line-height: 98px;
    width: 100px;
  }

  .board-grid {
    height: 300px;
    width: 300px;
  }

  .game-status-area,
  .new-game-area {
    font-size: 20px;
  }

  .session-stats {
    font-size: 14px;
    height: 16px;
  }

  .gaming-buttons > .big-button {
    margin: 0 auto 5px;
  }
}
