$icon-font-path: '~bootstrap-sass/assets/fonts/bootstrap/';

@import '~bootstrap-sass/assets/stylesheets/bootstrap';
@import url('https://fonts.googleapis.com/css?family=Varela+Round');

/************************************
COLOR MIXES
************************************/

$five-percent-gray: #f2f2f2;
$six-percent-gray: #f0f0f0;
$ten-percent-gray: #e5e5e5;
$thirty-percent-gray: #b3b3b3;
$fifty-percent-gray: #7f7f7f;
$seventy-five-percent-gray: #636466;
$ninety-percent-gray: #191919;
$black: #000;
$white: #fff;
$red: #f00;
$green: #0f0;
$blue: #00f;
$cyan: #0ff;
$magenta: #f0f;
$yellow: #ff0;
$rainbow-red: #f27089;
$rainbow-orange: #fca778;
$rainbow-yellow: #fbde84;
$rainbow-yellow-light: rgba(249, 216, 113, 0.15);
$rainbow-green: #9ac479;
$rainbow-blue: #74a6cf;
$grass-green: #b8d77d;
$grass-green-light: rgba(171, 209, 106, 0.1);
$sky-blue: #a7c5df;
$cloud-white: #f7f0e3;
$lines-brown: #3a2328;
$stem-green: #358d65;
$red-muted: #f64154;
$green-muted: #77d283;
$blue-muted: #7073ff;
$golden-yellow: #fce132;
$bg-bar-1: #b1c1d4;
$bg-bar-2: #b8bfca;
$bg-bar-3: #c2bbbe;
$bg-bar-4: #ccb8b2;
$bg-bar-5: #d8b4a4;
$bg-bar-6: #e2b098;
$bg-bar-7: #ecad8c;
$bg-bar-8: #f3aa82;

/************************************
ANIMATIONS
************************************/

@keyframes colorchange {
  0% { background: $rainbow-blue; }
  25% { background: $rainbow-green; }
  50% { background: $rainbow-red; }
  75% { background: $rainbow-green; }
  100% { background: $rainbow-blue; }
}

@-webkit-keyframes colorchange /* Safari and Chrome - necessary duplicate */ {
  0% { background: $rainbow-blue; }
  25% { background: $rainbow-green; }
  50% { background: $rainbow-red; }
  75% { background: $rainbow-green; }
  100% { background: $rainbow-blue; }
}

/************************************
BODY & MAIN
************************************/

body {
  background-color: $rainbow-orange;
  color: $lines-brown;
  font-family: 'Varela Round', sans-serif;
  font-size: 16px;
  letter-spacing: 0.3rem;
  margin: 0 auto;
  // position: relative;
  text-align: center;
  text-transform: uppercase;
}

main {
  margin: 0 auto;
  position: relative;
  top: -100vh;
  z-index: 5;
}

/************************************
BACKGROUND BARS
************************************/

.background-container {
  z-index: 2;
}

.background-bar {
  background-color: $red;
  border: 0;
  height: 10vh;
  margin: 0 auto;
  width: 100%;

  &.bg-bar-0 {
    background-color: $sky-blue;
  }

  &.bg-bar-1 {
    background-color: $bg-bar-1;
  }

  &.bg-bar-2 {
    background-color: $bg-bar-2;
  }

  &.bg-bar-3 {
    background-color: $bg-bar-3;
  }

  &.bg-bar-4 {
    background-color: $bg-bar-4;
  }

  &.bg-bar-5 {
    background-color: $bg-bar-5;
  }

  &.bg-bar-6 {
    background-color: $bg-bar-6;
  }

  &.bg-bar-7 {
    background-color: $bg-bar-7;
  }

  &.bg-bar-8 {
    background-color: $bg-bar-8;
  }

  &.bg-bar-9 {
    background-color: $rainbow-orange;
  }
}

/************************************
NAV BAR
************************************/

nav {
  align-items: flex-end;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 0 auto;
  position: relative;
  top: 0.5rem;
  width: 333px;
}

.game-title {
  color: $white;
  cursor: pointer;
  font-size: 1.65rem;
  // margin: 15px auto 0;
  letter-spacing: 0.4rem;
  position: relative;
  text-align: left;
  user-select: none;

  // & > .first-line {
  //   position: relative;
  // }

  & > .second-line {
    bottom: 0.3rem;
    font-size: 1.2rem;
    letter-spacing: 0.3rem;
    position: relative;
  }
}

// Container for holding the big buttons…
.starting-buttons,
.user-buttons {
  align-items: flex-end;
  display: flex;
  flex-direction: row;
  width: 222px;
}

.nav-button {
  background-color: transparent;
  border: 1px solid $white;
  border-radius: 0.5rem;
  color: $white;
  display: inline;
  font-size: 14px;
  letter-spacing: 0.1rem;
  margin: 0 auto 0.5rem;
  max-height: 50px;
  max-width: 100px;
  padding: 6px 3px;
  text-transform: uppercase;

  &:focus {
    outline: 0;
  }
}

/************************************
NAV DRAWER
************************************/

.nav-drawer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  // justify-content: center;
  // margin: 0 auto;
  // max-width: 333px;
  position: absolute;
  // right: 0;
  left: 231px;
  top: 35px;
  z-index: 20;
}

.nav-menu-default,
.nav-menu-signed-in {
  display: flex;
  flex-direction: column;
  outline: 1px solid $lines-brown;
  position: relative;
}

.nav-drawer-button {
  background-color: $rainbow-yellow;
  border: 1px solid $white;
  cursor: pointer;
  display: block;
  font-size: 1rem;
  letter-spacing: 0.25rem;
  padding: 0.5rem 1rem;
  text-align: center;
  text-transform: uppercase;
  width: 94px;
}

/************************************
TEXT
************************************/

h4 {
  color: $lines-brown;
}

h5 {
  color: $lines-brown;
  margin: 0 auto 10px;
}

.intro-text {
  font-size: 16px;
  letter-spacing: 0;
  margin: 0 auto;
  overflow: visible;
  text-align: left;
  text-transform: none;
  width: 265px;
  z-index: 1;
}

.credit-div {
  margin-top: 1rem;
  text-align: center;
}

.at-line {
  color: $stem-green;
  font-size: 1.25rem;
  pointer-events: auto;
  user-select: auto;
  z-index: 12;

  &:link,
  &:visited,
  &:hover,
  &:active {
    color: $stem-green;
    text-decoration: none;
  }
}

/************************************
BOARD & CELLS
************************************/

.board-cell {
  background-color: $rainbow-yellow-light;
  border: 0.01rem solid $lines-brown;
  font-size: 80px;
  height: 111px;
  letter-spacing: 0;
  line-height: 118px;
  user-select: none;
  // vertical-align: middle;
  width: 111px;

  &:not(.pre-game):not(.played):not(.game-over):hover {
    background-color: $rainbow-yellow;
    cursor: pointer;
  }

  &.pre-game {
    animation: colorchange 10s infinite;
    -webkit-animation: colorchange 10s infinite;
  }

  &.starting-blue {
    background-color: $rainbow-blue;
  }

  &.played {
    &.x {
      color: $rainbow-red;
    }

    &.o {
      color: $rainbow-blue;
    }
  }
}

.board-grid {
  background-color: $white;
  display: grid;
  grid-template-columns: auto auto auto;
  grid-template-rows: auto auto auto;
  height: 333px;
  margin: 1rem auto;
  outline: 2px solid $lines-brown;
  overflow: visible;
  user-select: none; // This makes each x and o non-highlightable by the cursor
  vertical-align: middle;
  width: 333px;

  &.x-won {
    outline: 6px solid $rainbow-red;
  }

  &.o-won {
    outline: 8px solid $rainbow-blue;
  }
}

/************************************
GAME INFORMATION AREA
************************************/

.game-information-area {
  display: none;
}

.game-score-area {
  position: relative;
}

p {
  margin: 0 auto;
}

.score-board {
  font-size: 1.375rem;
  letter-spacing: 0;
  user-select: none;
}

.reset-score-button {
  background-color: transparent;
  border: 1px solid $white;
  border-radius: 5px;
  bottom: 2px;
  color: $white;
  cursor: pointer;
  font-size: 1rem;
  height: 20px;
  letter-spacing: 0.1rem;
  margin-left: 3px;
  padding: 3px 6px;
  position: relative;
  user-select: none;
  width: 80px;
}

.player-turn-line {
  color: $lines-brown;
  font-size: 2.5rem;
  letter-spacing: 0.5rem;
  // margin: 0.5rem auto -0.5rem;
  margin: 0.25rem auto 0;
  padding-top: 0.25rem;
  user-select: none;
  width: 333px;

  &.x {
    background-color: $rainbow-yellow;
    color: $rainbow-red;
  }

  &.o {
    background-color: $rainbow-yellow;
    color: $rainbow-blue;
  }

  &.its-a-draw {
    background-color: $rainbow-yellow;
    color: $stem-green;
  }
}

.play-new-game {
  border: 1px solid $white;
  border-radius: 0.5rem;
  color: $white;
  cursor: pointer;
  font-size: 2.5rem;
  letter-spacing: 0.3rem;
  margin: 5px auto;
  padding: 3px 5px 0;
  width: 290px;
}

/************************************
MODALS
************************************/

.modal-title {
  color: $rainbow-orange;
  font-size: 20px;
  margin-bottom: 5px;
  pointer-events: none;
  text-transform: uppercase;
  user-select: none;
}

fieldset {
  margin: auto;
}

input {
  font-size: 16px;
  margin: 2% 5%;
  width: 90%;
}

.modal-content {
  border-radius: 1rem;
  padding: 1rem;
}

.form-button {
  background-color: $rainbow-yellow;
  border: 0;
  border-radius: 5px;
  font-size: 16px;
  letter-spacing: 0.3rem;
  padding: 3px 7px;
  text-transform: uppercase;

  &:focus {
    outline: 0;
  }
}

.games-stats-div {
  text-align: left;
}

/************************************
STATS
************************************/

.total-stats-div {
  font-size: 18px;
  letter-spacing: 0.05rem;
  margin: 10px auto;
  text-align: center;
  width: 85%;
}

.sum-stats-div {
  font-size: 14px;
  letter-spacing: 0.1rem;
  margin: 10px auto;
  text-align: center;
  text-transform: none;
  width: 85%;
}

.games-stats-div {
  font-size: 14px;
  letter-spacing: 0.1rem;
  line-height: 3rem;
  margin: 10px auto;
  overflow: auto;
  text-transform: none;
  width: 70%;
}

/************************************
BREAKPOINT 400PX
************************************/

@media only screen and (max-width: 400px) {
  nav {
    width: 300px;
  }

  .board-cell {
    height: 100px;
    line-height: 98px;
    width: 100px;
  }

  h1 {
    font-size: 2rem;
  }

  .board-grid {
    height: 300px;
    width: 300px;
  }

  .player-turn-line,
  .play-new-game {
    font-size: 20px;
    margin: 0.5rem auto;
  }

  .score-board {
    font-size: 1.25rem;
    margin: 0.5rem auto;
  }

  .user-buttons > .nav-button {
    margin: 0 auto 5px;
  }

  .intro-text {
    font-size: 13px;
    width: 270px;
  }
}
