$icon-font-path: '~bootstrap-sass/assets/fonts/bootstrap/';

@import '~bootstrap-sass/assets/stylesheets/bootstrap';
@import url('https://fonts.googleapis.com/css?family=Varela+Round');

$black: #000;
$white: #fff;
$red: #f00;
$green: #0f0;
$blue: #00f;
$cyan: #0ff;
$magenta: #f0f;
$yellow: #ff0;
$rainbow-red: #f27089;
$rainbow-orange: #fca778;
$rainbow-yellow: #fbde84;
$rainbow-green: #9ac479;
$rainbow-blue: #74a6cf;
$grass-green: #b8d77d;
$panda-purple: #9f86b0;
$dolphin-pink: #f9a2b6;
$sky-blue: #a7c5df;
$cloud-white: #f7f0e3;
$lines-brown: #3a2328;
$cone-brown: #d2a480;
$sauce-brown: #a7705e;
$stem-green: #358d65;

body {
  background-color: $white;
  margin: 0 auto;
  max-width: 800px;
}

main {
  margin: 0 auto;
  max-width: 500px;
}

p {
  margin: 0 auto;
  margin-bottom: 20px;
  text-align: center;
}

h1 {
  color: $rainbow-green;
  font-family: 'Varela Round', sans-serif;
  font-size: 28px;
  font-weight: normal;
  margin: 0 auto;
  margin-bottom: 10px;
  margin-top: 15px;
  text-align: center;
  text-transform: uppercase;
  user-select: none;
}

h4 {
  color: $lines-brown;
  margin: 0 auto;
  text-align: center;
}

h5 {
  color: $lines-brown;
  margin: 0 auto;
  margin-bottom: 10px;
  text-align: center;
}

.initial-message {
  color: $rainbow-orange;
  font-family: 'Varela Round', sans-serif;
  font-size: 30px;
  height: 150px;
  left: 50%;
  line-height: 40px;
  overflow: hidden;
  pointer-events: none;
  position: absolute;
  text-align: center;
  text-transform: uppercase;
  top: 55%;
  transform: translate(-50%, -50%);
  user-select: none; // This makes each x and o non-highlightable by the cursor
  width: 150px;
}

.initial-new-game {
  color: $rainbow-orange;
  display: none;
  font-family: 'Varela Round', sans-serif;
  font-size: 30px;
  height: 100px;
  left: 50%;
  line-height: 40px;
  overflow: hidden;
  position: absolute;
  text-align: center;
  text-transform: uppercase;
  top: 53%;
  transform: translate(-50%, -50%);
  // user-select: none; // This makes each x and o non-highlightable by the cursor
  width: 250px;
}

.board-cell {
  background-color: $cloud-white;
  border: 2px solid $lines-brown;
  // box-sizing: border-box;
  color: $lines-brown;
  display: inline-block;
  float: left;
  font-family: 'Varela Round', sans-serif;
  font-size: 80px;
  height: 100px;
  line-height: 105px;
  margin-bottom: -2px;
  margin-right: -2px;
  text-align: center;
  vertical-align: middle;
  width: 100px;

  &:not(.page-load):not(.played):not(.game-over):hover {
    background-color: $rainbow-yellow;
    cursor: pointer;
  }

  &.played {
    &.x {
      color: $rainbow-red;
      cursor: default;
      text-transform: uppercase;
    }

    &.o {
      color: $rainbow-blue;
      cursor: default;
      text-transform: uppercase;
    }
  }

  &.page-load {
    border: 0;
    display: hidden;
  }
}

.board-grid {
  background-color: $cloud-white;
  border: 4px solid $rainbow-green;
  // clear: left;
  margin: 0 auto;
  margin-bottom: 5px;
  max-height: 304px;
  max-width: 304px;
  overflow: auto;
  padding-bottom: 2px;
  position: relative;
  user-select: none; // This makes each x and o non-highlightable by the cursor
  vertical-align: middle;

  &.x-won {
    border: 4px solid $rainbow-red;
  }

  &.o-won {
    border: 4px solid $rainbow-blue;
  }
}

.game-status-area {
  color: $rainbow-red;
  cursor: default;
  display: none;
  font-size: 28px;
  margin: 0 auto;
  text-align: center;
  text-transform: uppercase;
  user-select: none;

  &.playable {
    display: block;
  }

  &.x {
    color: $rainbow-red;
  }

  &.o {
    color: $rainbow-blue;
  }

  &.game-result {
    color: $stem-green;
  }
}

.new-game-area {
  color: $rainbow-orange;
  cursor: pointer;
  display: none;
  font-family: 'Varela Round', sans-serif;
  font-size: 28px;
  text-transform: uppercase;

  &.playable {
    display: block;
  }
}

.auth-message {
  color: $white;
  font-family: 'Varela Round', sans-serif;
  font-size: 14px;
  text-transform: uppercase;
  user-select: none; // This makes each x and o non-highlightable by the cursor
}

.starting-buttons {
  margin: 0 auto;
  max-height: 150px;
  max-width: 300px;
  overflow: auto;
}

.gaming-buttons {
  margin: 0 auto;
  max-height: 150px;
  max-width: 300px;
  overflow: auto;
}

.big-button {
  background-color: $rainbow-yellow;
  border: 0;
  border-radius: 5px;
  color: $lines-brown;
  display: block;
  font-family: 'Varela Round', sans-serif;
  font-size: 18px;
  margin: 10px auto 10px;
  max-height: 60px;
  max-width: 80%;
  padding: 3px 7px;
  // position: relative;
  // right: 50%;
  text-transform: uppercase;

  &:focus {
    outline: 0;
  }
}

form {
  border: 3px solid $sky-blue;
  margin: 5px auto;
  max-height: 200px;
  max-width: 300px;
  overflow: auto;
  padding: 10px 20px;
}

.form-title {
  color: $rainbow-orange;
  font-family: 'Varela Round', sans-serif;
  font-size: 20px;
  margin-bottom: 5px;
  text-transform: uppercase;
}

fieldset {
  margin: auto;
}

input {
  color: $lines-brown;
  font-family: 'Varela Round', sans-serif;
  font-size: 12px;
  margin: 3px auto;
  text-transform: uppercase;
  width: 100%;
}

.form-button {
  background-color: $rainbow-yellow;
  border: 0;
  border-radius: 5px;
  color: $lines-brown;
  font-family: 'Varela Round', sans-serif;
  font-size: 12px;
  padding: 3px 7px;
  text-transform: uppercase;

  &:focus {
    outline: 0;
  }
}

// .sign-up-panel {
//   display: block;
//
//   &.signed-in {
//     display: none;
//   }
// }
//
// .sign-in-panel {
//   display: block;
//
//   &.signed-in {
//     display: none;
//   }
// }
//
// .change-password-panel {
//   display: none;
//
//   &.authorized {
//     display: block;
//   }
// }
//
// .sign-out-panel {
//   display: none;
//
//   &.authorized {
//     // border: 0;
//     display: block;
//   }
// }
